/*--------------------RESET CSS------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url(../img/left-background.jpg);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    border:0;
}

/*--------------------HEADER------------------------*/

.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
}



.header::after {
    content: ' ';
    background: repeating-linear-gradient(to right,#0f1319 0, #0f1319 10px,transparent 10px,transparent 20px);
    height: 1px;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
 
 }

 .logo {
     width: 80%;
     display: flex;
     justify-content: center;
 }

.logo img{
    padding: 20px 0 25px;
    width: 220px;
    height: 35px;
        
}


.timer-block {
    font-size: 16px;
    color: #0f1319;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    margin-right: 25px;
    align-items: center;
}

.timer {
    font-size: 22px;
    color: #009086;
    display: flex;
    
}

.timer-text {
    align-items: center;
    margin-left:10px; 
    font-family: sans-serif;

}





/*--------------------MAIN------------------------*/
.container-main {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    height: 81vh;

}



::-webkit-scrollbar {
    width: 5px;


}

::-webkit-scrollbar-track {
    background: #031d3c41;
}

::-webkit-scrollbar-thumb {
    background: #009086;

}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;

}



.heading {
    white-space: nowrap;
    height: 65px;
    background-color: #009086;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 25px;
    margin-top: 25px;
    font-size: 18px;


}


/*-------------------- QUESTION ------------------------*/


.question-block {
    margin: 25px 30px;
    display: flex;
    flex-direction: column;
}



.answers-block {
    margin-right: 95px;
}



.bold {
    font-weight: bold;
}

.row {
    display: flex;
    margin: 15px 0
}

.sup-range {
    width: 42px;
    height: 42px;
    color: #0f1319;
    font-weight: bold;
    background-color: #0090862a;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;


}




.sup-ans {
    width: 770px;
    height: 42px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 16px;    
    box-shadow: 0 10px 10px 0 #0e396b12;
    font-size: 15px;

}


.skip {
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}

.skip a{
    color: #009086;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skip-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009086;
    padding: 0 10px;
}

/*-------------------- SIDEBAR ------------------------*/

.sidebar {
    margin-left: 7%;
    margin-top: 10px; 
    width: 490px;
    padding-right: 10px;

}


.column {
    flex-direction: column;
}
.block {
    display:flex;
    width: 350px;

}

.calendar {
    padding: 10px;
    width: 350px;
    height: 185px;
    background: #fff;
    border-top: 1px solid rgba(14, 57, 107, 0.07);
    box-sizing: border-box;
    display: none;
    ;

}

.calendar-body {
    background-color: #d2e8ea;
    width: 330px;
    height: 115px;
    box-sizing: border-box;
    padding: 13px 25px 18px;
}

.calendar-heading {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid rgba(14, 57, 107, 0.07);
    padding-left: 10px;
    background-color: #d2e8ea;

}

td {
    width: 30px;
    height: 30px;
    text-decoration: underline;
    color:rgb(90, 92, 94);
    padding: 7px 5px;
    box-sizing: border-box;
    font-size: 16px;
    


}

.checked {
    background: #009086;
    color: #fff;
    font-weight: bolder;
    font-family: arial;
    border-radius: 3px;


}

.primary {
    color: #009086;
    font-weight: bold;

}

.darker {
    background-color: #009086;
    color: #fff;
}


.subject {
    width: 300px;
    height: 50px;
    background: #fff;
    color: #031d3c;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    display: flex; 
    align-items: center;
    box-shadow: 0 10px 10px 0 #0e396b12;
    font-family: Arial;
    box-sizing: border-box;
}

.chevron {
    width: 50px;
    height: 50px;
    background: #009086;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}


/*-------------------- FOOTER ------------------------*/



.data {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #031d3c;
    font-size: 17px;
    margin-top: 25px;
}

.data li {
    padding:0 20px;
}

.copy {
    margin: 25px 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
}